<% provide(:title, "Log in") %>

<div class= "login">
  <h1>Log in</h1>
<div>

<div class="login-container">

  <%= link_to image_tag("fanfactory.jpg", width:350) %>
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="login-form">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    <div>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

</div>