<% provide(:title, "Log in") %>
<div class="login-container">
<%= link_to "Go to site", 'http://fanfactory.xyz/', id: "home-link" %>
  <div class=background>
    <%= link_to image_tag("fanfactory.jpg", width:350, id: "rails-hero-img") %>
    
      <%= form_for(:session, url: login_path) do |f| %>
      <div class="login-form">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'login-field' %><br>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'login-field' %>
      <div>

        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>

  </div>
</div>