<% provide(:title, 'All Events') %>
<%= render "application/header" %>
<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fecha</th>
      <th>Num de clientes</th>
      <th>Num de boletas</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

<% @event.each do |event| %>
  <tr>
    <td><%= link_to "#{event.name}", event%></td>
    <td><%= event.datetime %></td>
    <td><%= event.customers.count %></td>
    <td><%= event.tickets %></td>
    
    
  
  </tr>
<% end %>
</table>

<br>

<%= link_to 'New Event', new_event_path %>

     