<% provide(:title, 'New Event') %>
 <%= render 'application/header' %>
<div class="pagehead">
  <h1>New Event</h1>
    <%= form_for(@event) do |f| %>

    <%= f.label :nombre %>
    <%= f.text_field :name, class: 'form-control' %><br>

    <%= f.label :ubicación %>
    <%= f.text_field :location, class: 'form-control' %><br>

    <%= f.label :date %>
    <%= f.date_field :datetime, class: 'form-control' %><br>

    <%= f.label :time %>
    <%= f.time_field :datetime, class: 'form-control' %><br>

    <%= f.label :entradas_disponibles %>
    <%= f.number_field :tickets, class: 'form-control' %><br>

    <%= f.label :precio %>
    <%= f.number_field :price, step: 0.5, class: 'form-control' %><br>

    <%= f.label "Image" %>
    <%= f.file_field :image %><br>

    <%= f.submit %>

  <% end %>
</div>
<br>
