<% provide(:title, @event.name) %>
<%= render "application/header" %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @event.name %>
     
      </h1>

      <h3>customers: (<%= @event.customers.count %>)</h3>
      <ul>
      <% @event.customers.each do |cus| %>
        <li><%= cus.name %></li><br>
      <%end%>
    </section>
  </aside>
</div>


         <%# <td><%= link_to 'Edit', edit_user_path(user) %>
