<% provide(:title, @customer.name) %>
 <%= render 'application/header' %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    </section>
  </aside>
  </div>
      <h1>Name: <%= @customer.name %></h1><br>
        <h2>Email: <%= @customer.email %></h2><br>
        <h2>Phone: <%= @customer.phone %></h2><br>
        <h3><%= "Upcoming events for #{@customer.name}: "%><%= @customer.events.upcoming.count %></h3>

        <table>
          <thead>
              <tr>
                <th>Event</th>
                <th>Fecha</th>
                <th colspan="3"></th>
              </tr>
          </thead>

          <% @customer.events.upcoming.each do |event| %>
          <tr>
            <td><%= link_to "#{event.name}", event%></td>
            <td><%= event.date_formatted %></td>
          </tr>
          <%end %>

        
        </table>

        <br>
        <h3><%= "Past events for #{@customer.name}: "%><%= @customer.events.previous.count %></h3>
        <table>
          <thead>
              <tr>
                <th>Event</th>
                <th>Fecha</th>
                <th colspan="3"></th>
              </tr>
          </thead>
          <% @customer.events.previous.each do |event| %>
          <tr>
            <td><%= link_to "#{event.name}", event%></td>
            <td><%= event.date_formatted %></td>
          </tr>
          <%end%>
        </table>
        
     <%= link_to 'Edit', edit_customer_path(@customer) %>
     <br>
    <%= link_to "Delete Customer", @customer, method: :delete,
    data: { confirm: "Are you sure you want to delete #{@customer.name}?" } %>
    <br>

