<nav class="nav navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to image_tag("fanfactory.jpg", class: "img-thumbnail", height: "50px"), root_path %> 
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Eventos
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "Nuevo Evento", {controller: "events", action: "new"}, class:"dropdown-item"  %>
      <%= link_to "Todos Los Eventos", {controller: "events", action: "index"}, class:"dropdown-item"  %>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Clientes
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to "Nuevo Cliente", {controller: "customers", action: "new"}, class:"dropdown-item"  %>
      <%= link_to "Todos Los Clientes", {controller: "customers", action: "index"}, class:"dropdown-item"  %>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Admin
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "Nuevo Admin", {controller: "users", action: "new"}, class:"dropdown-item"  %>
      <%= link_to "Ver/Editar Admins", {controller: "users", action: "index"}, class:"dropdown-item"  %>
    </div>
  </div>
  <%= link_to "Cerrar Sesión", logout_path, method: "delete" %>
</nav>

