<ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "Events", events_path%></li>
    <li><%= link_to "New Event", new_event_path%></li>
    <li><%= link_to "New Customer", new_customer_path%></li>
    <li><%= link_to "Customers", customers_path%></li>

</ul>